.logo{
    background-image: url('./Logo.png');
    background-repeat: no-repeat;
    height: 6vh;
    width: 16vh;
}
.SideBar{
    /* border: 1px solid black;; */
    padding: 3vh;
    width: 35vh;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column ;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 3vh;
    left: 3vh;
}
.sideBar_logo{
    display: flex;
    flex-direction: row;
    justify-content: initial;
    margin-top: 2vh;
}
.backBtn{
    margin-left: 1vh;
    margin-top: 2px;
    border-radius: 20px;
    height: 4vh;
    width: 4vh;
    margin-right: 4vh;
    border: none;
}
.HomeDiv{
background-image: url('../Home-Icons.png');
height: 2vh;
width: 2vh;
background-repeat: no-repeat;
}
.list_items{
list-style-type: none;
text-align: initial;
margin-top: 7vh;
margin-left: 2vh;
}
.List_items{
    display: flex;
   
}
@media screen and (max-width: 1205px){
    .SideBar{
        display: none;
    }
   
}